/*colors*/
:root {
    --primaryOne: #04B4E0;
    --primaryTwo: #ffffff;
    --primaryThree: #222;
    --primaryFour: #666;
    --secondaryOne: #555;
    --secondaryTwo: #aaa;
    --secondarythree: #d5d5d5;
}
/*colors*/
/* Fixed sidenav, full height */
body {
    overflow-x: hidden;
    
}
h1 {
    font-weight: bold;
}
.m {
    margin-left: -5%;
    margin-bottom: 3%;
}
/*start navbar*/
.navbar {
    z-index: 999;
    background-color: var(--primaryOne);
}
.navbar-default .navbar-toggle {
    border-color: var(--primaryTwo);
}
.navbar-default .navbar-toggle .icon-bar{
    background-color: var(--primaryTwo);
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    background: transparent;
}
.navbar .navbar-header a {
    color: var(--primaryTwo);
}
.navbar .navbar-header a:hover {
    color: var(--primaryTwo);
}
.navbar-default .navbar-nav li a {
    color: var(--primaryTwo);
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 12px;
}
.navbar-default .navbar-nav li a:hover {
    color: var(--primaryTwo);
}
/*end navbar*/
/*start fixed section*/
.sidenav {
    height: 100%;
    width: 800px;
    position: fixed;
    top: 0;
    
}
.sidenav .first-side {
    display: inline-block;
    background-color: #fff;
    height: 100%;
    width: auto;
    padding-top: 20px;
        
}
.sidenav .sec-side {
    display: inline-block;
    background-color: #04B4E0;
    min-height: 100%;
    width: 420px;
    position: absolute;
}
/* Style the sidenav links and the dropdown button */
.sidenav .first-side i {
    display: block;
    text-align: center;
    font-size: 26px;
    margin-bottom: 10px;
    cursor: pointer;
}
.sidenav .first-side a{
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 11px;
    color: var(--primaryThree);
    display: block;
    width: 100%;
    cursor: pointer;
    outline: none;
}
.sidenav .sec-side .content {
    margin-top: 12%;
}
.sidenav .sec-side .content img {
    border-radius: 50%;
}
.sidenav .sec-side .content h1 {
    color: var(--primaryTwo);
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.2em;
}
.sidenav .sec-side .content p {
    font-size: 18px;
    font-weight: 300;
    color: var(--primaryTwo);
    line-height: 1.2em; 
    margin-bottom: 30px;
}
.sidenav .sec-side .content ul {
    display: inline;
    list-style: none;
    color: var(--primaryTwo);
    margin-right: 65px;
}
.sidenav .sec-side .content ul li {
    display: inline;
    margin-left: 20px;
}
.sidenav .sec-side .content ul li a {
    text-decoration: none;
    color: var(--primaryTwo);
    font-size: 20px;
}
.sidenav .sec-side .content .bt {
    margin-top: 60px;
    width: auto;
}
.sidenav .sec-side .content .btn {
    border: 2px solid var(--primaryTwo);
    border-radius: 50px;
    color: var(--primaryTwo);
    cursor: pointer;
    font-size: 20px;
    background-color: var(--primaryOne);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    outline: none;
}
.sidenav .sec-side .content .btn a {
    color: var(--primaryTwo);
    text-decoration: none;
}
.sidenav .sec-side .content .footer {
    width: 380px;
    position: fixed;
    bottom: 0;
    margin-left: 20px;
}
.sidenav .sec-side .content .footer p {
    font-size: 15px;
}
/* On mouse-over */
.sidenav .first-side a:hover :not(p){
    color: var(--primaryOne);
    transition: 0.5s;
    webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
}
/* Add an active class to the active dropdown button */
.active {
    color: var(--primaryOne);
    transition: 1s;
    webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    -ms-transition: 1s;
}

/*end fixed section*/

/*start about me section*/
/* Main content */
.main {
    margin-left: 470px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    position: absolute;
    padding: 0px 10px;
    top: 20%;
    
}
 .work-examples {
    margin-left: 570px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    position: absolute;
    padding: 0px 10px;
    top: 5%;
}

.main .pic img {
    border-radius: 50%;
    border: 18px solid var(--primaryTwo);
    margin-top: 20px;
    box-shadow: 0 0px 25px 0px rgba(0, 0, 0, 0.1);
}
.main .text {
    margin-left: -50px;
}
.main .text h4 {
    font-size: 16px;
    color: var(--secondaryTwo);
    font-weight: 300;
    margin-bottom: 10px;
}
.main .text h1 {
    font-size: 48px;
    line-height: 56px;
    margin-top: 0;
    margin-bottom: 20px;
}
.main .text p {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.75em;
    color: var(--secondaryOne);
}
.main .text .bt-two {
    margin-top: 40px;
}
.main .text .bt-two .btn-one {
    margin-right: 10px;
    border: 2px solid var(--primaryOne);
    border-radius: 50px;
    background-color: var(--primaryTwo);
    cursor: pointer;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    outline: none;
    color: var(--primaryThree);
    text-decoration: none;
    font-size: 18px;
}

.main .text .bt-two .btn-one:hover {
    background-color: var(--primaryOne);
    color: var(--primaryTwo);
    transition: 0.5s;
}
.main .text .bt-two .btn-two {
    margin-right: 10px;
    border: 2px solid var( --secondarythree);
    border-radius: 50px;
    background-color: var(--primaryTwo);
    cursor: pointer;
    font-size: 20px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    outline: none;
    color: var(--primaryFour);
    text-decoration: none;
    font-size: 18px;
}

.main .text .bt-two .btn-two:hover {
    background-color: var(--secondarythree);
    color: var(--primaryFour);
    transition: 0.5s;
}
/*end about me section*/

/*start contact section*/
.contact {
    margin-left: 570px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    position: absolute;
    padding: 0px 10px;
    top: 5%;
}
.contact .edit {
    margin-top: 50px;
}
.contact .edit h2 {
    font-size: 20px;
    font-weight: bold;
}
.contact .card {
    border: 2px solid var(--secondarythree);
    width: 320px;
    margin-right: 20px;
    border-radius: 10px;
    text-align: center;
    padding: 20px 10px;
    height: 150px;
}
.contact .card i {
    font-size: 35px;
    color: var(--primaryOne);
}
.contact .card .p-edit {
    font-size: 20px;
    font-weight: bold;
}
/*end contact section*/
.cv {
    margin-left: 470px; /* Same as the width of the sidenav */
}
/* Some media queries for responsiveness */
@media screen and (max-width: 500px) {
    .m {
        margin-left: 0%;
    }
  .main {
      margin-left: 0px;
      top: 10%;
    }
    .main .pic img {
        margin-top: 20px;
    }
    .main .text {
    margin-left: 0px;
}
    .work-examples {
        margin-left: 0px;
        top: 10%;
    }
    .main .text .bt-two {
        margin-bottom: 40px;
    }
    .main .text .bt-two .btn-two {
        padding-left: 24px;
        padding-right: 24px;
    }
    .contact {
        margin-left: 0px;
        top: 10%;
        margin-left: 20px;
    }
    .contact .card {
        margin-bottom: 20px;
    }
    .cv {
        margin-left: 0px;
        top: 10%;
    }
    .cv object {
        height: 460px;
        width: 100%;
    }
}
@media only screen and (min-width: 1600px) {
    .m {
        margin-left: -2%;
    }
.main {
    margin-left: 570px; /* Same as the width of the sidenav */
    
}
.main .text {
    margin-left: -50px;
}
.work-examples {
        margin-left: 570px;
    }
.contact {
        margin-left: 570px;
    }
.cv {
        margin-left: 540px;
    }
}
@media only screen and (min-width: 1700px) {
.main {
    margin-left: 570px; /* Same as the width of the sidenav */
    
}
.main .text {
    margin-left: -50px;
}
.work-examples {
        margin-left: 570px;
    }
    .contact {
        margin-left: 570px;
    }
    .cv {
        margin-left: 570px;
    }
}

@media only screen and (width: 1366px) {
    .contact .card {
        margin-right: 5px;
        width: 260px;
    }
    .contact .card h2 {
        font-size: 20px;
    }
        .contact .card .p-edit {
        font-size: 18px;
    }
    .cv {
        margin-left: 500px;
    }
    .cv object {
        height: 520px;
        width: 98%;
        margin-left: 2%;
    }
    .main .pic img {
        margin-left: 20px;
    }
    .m {
        margin-left: 1%;
    }
}
